name: validate

on:
  pull_request:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  bicep-validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Azure CLI
        uses: azure/CLI@v2
        with:
          azcliversion: latest

      - name: Install Bicep
        run: az bicep install

      - name: Bicep build (main)
        run: az bicep build --file 01_iac/main.bicep

      - name: Bicep build (params/dev)
        run: az bicep build-params --file 01_iac/params/dev/main.bicepparam

      - name: Bicep build (params/prod)
        run: az bicep build-params --file 01_iac/params/prod/main.bicepparam
